.btn-stock{

    background-color: rgb(25, 147, 25);
    border-radius: 10px;
    padding: 10px 20px;
    color: white;
    font-weight: 500;
}


.btn-add-to{
    border: 1px solid gray;
    padding: 10px 0px;
    border-radius: 10px;
    font-weight: 500;
}